<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARGUkaQecu2yW_KPz3itw6DoOgQ3jyjDs</string>
	<key>GCM_SENDER_ID</key>
	<string>512731038916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crashlyticsTask</string>
	<key>PROJECT_ID</key>
	<string>crashlytic-project</string>
	<key>STORAGE_BUCKET</key>
	<string>crashlytic-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512731038916:ios:0f0dfb3c608fa52085f591</string>
</dict>
</plist>